<div class="container">
  <div class="glass">
    <div class="title">
      <h1 class="welcome-text">{{ "PROJECTS.TITLE" | translate }}</h1>
    </div>
    <p class="intro">
      {{ "PROJECTS.INTRO" | translate }}
    </p>
    <section class="projects-section">
      <div class="projects-grid">
        <div class="project-card" *ngFor="let project of projects">
          <img
            [src]="getProjectImage(project)"
            [alt]="project.title + ' screenshot'"
            class="project-image"
          />
          <div class="project-content">
            <h3 class="project-title">{{ project.title }}</h3>
            <!-- <p class="project-description">{{ project.description }}</p> -->
            <div
              class="project-links"
              *ngIf="project.demoUrl || project.sourceUrl"
            >
              <a
                *ngIf="project.demoUrl"
                [href]="project.demoUrl"
                target="_blank"
                rel="noopener noreferrer"
                class="project-link"
                >{{ "PROJECTS.DEMO_LINK" | translate }}</a
              >
              <a
                *ngIf="project.sourceUrl"
                [href]="project.sourceUrl"
                target="_blank"
                rel="noopener noreferrer"
                class="project-link"
                >{{ "PROJECTS.SOURCE_LINK" | translate }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
