<!-- <p>navigation-bar works!</p> -->
  <nav>
    <div class="menu">
      <div class="Title">
        <h2 id="title">Tonny Zhao</h2>
      </div>
      <ul class="nav-links">
        <li class="link"><a href="/about_me/">About Me</a></li>
        <li class="link"><a href="/project">Project</a></li>
        <li class="link"><a href="/contact">Contact</a></li>
      </ul>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
  </nav>
