<div class="container">
  <div class="glass">
    <div class="text" style="display: flex; flex-direction: column">
      <div class="title">
        <h1 class="welcome-text">Hello! Welcome to</h1>
        <h1 class="welcome-text">Tonny Zhao's</h1>
        <h1 class="welcome-text">Portfolio.</h1>
      </div>
      <p class="intro">
        My name is Tonny, a student passionate about software development,
        specializing in front-end technologies like Angular. I enjoy creating
        responsive, user-friendly web applications.
      </p>
      <div class="button">
        <a
          href="https://thelonelyotaku315.github.io/personal-website/https://thelonelyotaku315.github.io/personal-website/https://thelonelyotaku315.github.io/personal-website/assets/doc/Tonny-Zhao-Resume-CV.pdf"
          download="Tonny-Zhao-Resume-CV.pdf"
          target="_blank"
          class="anchor"
        >
          <p>Download CV</p>
        </a>
      </div>
    </div>
  </div>
</div>
