<div class="container">
  <div class="glass">
    <div class="title">
      <h1 class="welcome-text">{{ "WELCOME.GREETING" | translate }}</h1>
    </div>
    <p class="intro">
      {{ "WELCOME.INTRO" | translate }}
    </p>
    <a
      href="https://thelonelyotaku315.github.io/personal-website/assets/doc/Tonny-Zhao-Resume-CV.pdf"
      download="Tonny-Zhao-Resume-CV.pdf"
      target="_blank"
    >
      <button class="btn">{{ "WELCOME.RESUME_BUTTON" | translate }}</button>
    </a>
  </div>
</div>
