<div class="container">
  <div class="glass">
    <h1 class="welcome-text">Hello! Welcome to my portfolio.</h1>
    <section class="profile">
      <div class="box">
        <span></span>
        <div class="content">
          <div class="img">
            <img
              class="profil-pic"
              src="/img/snorlax.png"
              alt="Profile Picture"
            />
          </div>
          <p class="info">
            My name is Tonny, a student passionate about software development,
            specializing in front-end technologies like Angular. I enjoy
            creating responsive, user-friendly web applications.
          </p>
          <button>Resume</button>
        </div>
      </div>
    </section>
  </div>
</div>
