.dark-theme {
  --primary-color: #0065F8;
  --secondary-color: #313338;
  --background-color: #1e1f22;
  --primary-text-color: #ffffff;
  --secondary-text-color: #949ba4;
  --hover-color: #404249;
  --border-color: #444;
  --accent-color: #339CFF;
  --error-color: #c62828;
  --success-color: #2e7d32;
  --muted-color: #868e96;
  --dark-muted-color: #d1d6db;
  --light-muted-color: #e9ecef;
  --dark-background: #f8f9fa;
  --light-background: #ffffff;
  --dark-text: #343a40;
}

.light-theme {
  --primary-color: #0065F8;
  --secondary-color: #e9ecef;
  --background-color: #ffffff;
  --primary-text-color: #1e1f22;
  --secondary-text-color: #343a40;
  --hover-color: #f1f3f5;
  --border-color: #d1d6db;
  --accent-color: #339CFF;
  --error-color: #c62828;
  --success-color: #2e7d32;
  --muted-color: #868e96;
  --dark-muted-color: #343a40;
  --light-muted-color: #f8f9fa;
  --dark-background: #1e1f22;
  --light-background: #ffffff;
  --dark-text: #ffffff;
}
