.dark-theme {
  --background: #181a1b;
  --foreground: #e5e5e5;
  --primary: #00ff87;
  --secondary: #00b3ff;
  --accent: #ffb86c;
  --error: #ff5555;
  --selection: #44475a;
  --cursor: #f8f8f2;
  --comment: #6272a4;
  --border: #282a36;
}

.light-theme {
  --background: #ffffff;
  --foreground: #181a1b;
  --primary: #00b3ff;
  --secondary: #00ff87;
  --accent: #ffb86c;
  --error: #ff5555;
  --selection: #e0e0e0;
  --cursor: #181a1b;
  --comment: #a0a0a0;
  --border: #cccccc;
}
