.dark-theme {
  --primary-color: #f0483e;
  --secondary-color: #313338;
  --background-color: #1e1f22;
  --primary-text-color: #ffffff;
  --secondary-text-color: #949ba4;
  --hover-color: #404249;
  --border-color: #444;
  --accent-color: #ff6b6b;
  --error-color: #d32f2f;
  --success-color: #4caf50;
  --muted-color: #949ba4;
  --dark-muted-color: #2b2d31;
  --light-muted-color: #b5bac1;
  --dark-background: #111214;
  --light-background: #e0e0e0;
  --dark-text: #000000;
}

.light-theme {
  --primary-color: #f0483e;
  --secondary-color: #f1f3f5;
  --background-color: #f8f9fa;
  --primary-text-color: #212529;
  --secondary-text-color: #495057;
  --hover-color: #dfe3e6;
  --border-color: #dee2e6;
  --accent-color: #ff4757;
  --error-color: #c62828;
  --success-color: #2e7d32;
  --muted-color: #868e96;
  --dark-muted-color: #d1d6db;
  --light-muted-color: #e9ecef;
  --dark-background: #f8f9fa;
  --light-background: #ffffff;
  --dark-text: #343a40;
}
