<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>
<div class="container">
  <div class="glass">
    <div class="title">
      <h1 class="welcome-text">{{ 'ABOUT.TITLE' | translate }}</h1>
    </div>
    <p class="intro">
      {{ 'ABOUT.INTRO' | translate }}
    </p>
    <section class="skills-section">
      <h3 class="skills-title title">{{ 'ABOUT.SKILLS_TITLE' | translate }}</h3>
      <div class="skill-categories">
        <div class="skill-category" *ngFor="let section of skillSections">
          <h4 class="category-title">{{ section.title }}</h4>
          <div class="skills-grid">
            <div
              class="skill-card"
              *ngFor="let skill of section.skills"
              (mouseenter)="onSkillHover(skill, true)"
              (mouseleave)="onSkillHover(skill, false)"
            >
              <img
                *ngIf="skill.showSvg && skill.hoverSvgUrl"
                [src]="skill.hoverSvgUrl"
                [alt]="skill.name + ' icon'"
                class="skill-icon skill-svg-icon"
              />
              <i
                *ngIf="!skill.showSvg || !skill.hoverSvgUrl"
                [class]="skill.currentIcon + ' skill-icon'"
              ></i>
              <span class="skill-name">{{ skill.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="timeline-section">
      <h3 class="timeline-title title">{{ 'ABOUT.JOURNEY_TITLE' | translate }}</h3>
      <div class="timeline">
        <ng-container *ngFor="let item of timeline; let i = index">
          <!-- For even indexes: content on left, empty on right -->
          <ng-container *ngIf="i % 2 === 0">
            <div class="timeline-component" style="justify-content: flex-end">
              <div class="timeline-content">
                <h3>{{ item.status }}</h3>
                <span class="timeline-date">{{ item.date }}</span>
                <p class="timeline-description">{{ item.description }}</p>
              </div>
            </div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>
          </ng-container>

          <!-- For odd indexes: empty on left, content on right -->
          <ng-container *ngIf="i % 2 === 1">
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component" style="justify-content: flex-start">
              <div class="timeline-content">
                <h3>{{ item.status }}</h3>
                <span class="timeline-date">{{ item.date }}</span>
                <p class="timeline-description">{{ item.description }}</p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
