.container {
  z-index: 0;
  /* font-family: "Courier New", Courier, monospace; */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 100dvwY;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.container::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  display: flex;
  background-color: transparent;
  width: 250px;
  height: auto;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
}

.webpage {
  z-index: 500;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  margin-left: 282px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

@media (max-width: 800px) {
  .webpage {
    width: 100%;
    margin-left: 0;
  }
}

.square-glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25%;
}
