.container {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

.dark-theme {
  --primary-color: #00ff75;
  --secondary-color: #3700ff;
  --background-color: #1e1f22;
  --primary-text-color: #ffffff;
  --secondary-text-color: #949ba4;
  --hover-color: #404249;
  --border-color: #444;
  --accent-color: #ff6b6b;
  --error-color: #d32f2f;
  --success-color: #4caf50;
  --muted-color: #949ba4;
  --dark-muted-color: #2b2d31;
  --light-muted-color: #b5bac1;
  --dark-background: #111214;
  --light-background: #e0e0e0;
  --dark-text: #000000;
}

.light-theme {
  --primary-color: #00ff75;
  --secondary-color: #3700ff;
  --background-color: #f8f9fa;
  --primary-text-color: #212529;
  --secondary-text-color: #495057;
  --hover-color: #dfe3e6;
  --border-color: #dee2e6;
  --accent-color: #ff4757;
  --error-color: #c62828;
  --success-color: #2e7d32;
  --muted-color: #868e96;
  --dark-muted-color: #d1d6db;
  --light-muted-color: #e9ecef;
  --dark-background: #f8f9fa;
  --light-background: #ffffff;
  --dark-text: #343a40;
}
