<div
  [ngClass]="isDarkmode ? 'dark-theme' : 'light-theme'"
  [style.display]="showContent ? 'flex' : 'none'"
  class="container"
>
  <!-- Matrix Background -->
  <div class="matrix-container">
    <div class="matrix-grid"></div>
  </div>

  <div class="nav-bar"><app-navigation-bar></app-navigation-bar></div>
  <div class="webpage">
    <section id="welcome">
      <app-welcome-section></app-welcome-section>
    </section>
    <section id="about_me">
      <app-about-me-section></app-about-me-section>
    </section>
    <section id="project">
      <app-projects-section></app-projects-section>
    </section>
    <section id="contact">
      <app-contact-section></app-contact-section>
    </section>
    <footer>
      <div class="footer">
        <p style="text-align: center">
          &copy; 2023 Tonny Zhao. All rights reserved.
        </p>
      </div>
    </footer>
  </div>
</div>
