/* Dark Theme */
.dark-theme {
  --primary-color: #18181b;
  --secondary-color: #27272a;
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --surface-color-rgb: 30, 30, 30;
  --primary-text-color: #f3f4f6;
  --secondary-text-color: #e5e7eb;
  --muted-text-color: #a1a1aa;
  --hover-color: #27272a;
  --border-color: #3f3f46;
  --accent-color: #7c3aed;
  --accent-color-rgb: 124, 58, 237;
  --error-color: #f87171;
  --success-color: #34d399;
  --warning-color: #fbbf24;
  --info-color: #38bdf8;
  --link-color: #60a5fa;
}

/* Light Theme */
.light-theme {
  --primary-color: #f3f4f6;
  --secondary-color: #e5e7eb;
  --background-color: #f9fafb;
  --surface-color: #ffffff;
  --surface-color-rgb: 255, 255, 255;
  --primary-text-color: #111827;
  --secondary-text-color: #374151;
  --muted-text-color: #6b7280;
  --hover-color: #e5e7eb;
  --border-color: #d1d5db;
  --accent-color: #a78bfa;
  --accent-color-rgb: 167, 139, 250;
  --error-color: #f87171;
  --success-color: #34d399;
  --warning-color: #fbbf24;
  --info-color: #38bdf8;
  --link-color: #3b82f6;
}

