.terminal-container {
  background: #222;
  color: #39ff14;
  font-family: "Fira Mono", "Consolas", monospace;
  width: 100vw;
  height: 100vh;
}
.terminal-bar {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #111;
  border-radius: 8px 8px 0 0;
}
.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.red {
  background: #ff5f56;
}
.yellow {
  background: #ffbd2e;
}
.green {
  background: #27c93f;
}
.terminal-content {
  padding: 24px 32px 0 32px;
  min-height: 80px;
  font-size: 1.1rem;
  word-break: break-word;
  white-space: pre-line;
}
.cursor {
  display: inline-block;
  width: 10px;
  /* height: 1.2em; */
  vertical-align: bottom;
  background: #39ff14;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
  border-radius: 2px;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
